<div>
  <h1>HELLO WORLD!</h1>
  <p>
		Welcome to The Coder's Guild!  The Coder's Guild is a site that depends
		on you.  Everything about this site (except for this post, I suppose) is
		user driven.  The Goal?  Teach each other how to do our craft.  Specifically,
		we aim to aggregate the best tutorials on the web in one place by listening
		to what you, the developers, think.  No more wandering around countless blogs.
		No more "Hello World" tutorials when you really want to get into the meat of
		a language.  Just a community which is focused on improving our craft.
  </p>
  <p>
		So with that rather windy statement out of the way, please feel free to
		register with us and get started on generating content. Any feedback is
		welcome.  This site is open source, so check it out and pick it apart on
		github.
  </p>
</div>
